extends ../layout

block content
  .container
      h1= favorite.title

      .panel.panel-default
        .panel-heading
          h3.panel-title 제목
        .panel-body #{favorite.title}

      .panel.panel-default
        .panel-heading
          h3.panel-title 간단한 설명
        .panel-body  #{favorite.explanation}

      .panel.panel-default
        .panel-heading
          h3.panel-title 국가
        .panel-body  #{favorite.nation}  
      
      .panel.panel-default
        .panel-heading
          h3.panel-title 도시
        .panel-body  #{favorite.city} 

      .panel.panel-default
        .panel-heading
          h3.panel-title 주소
        input.panel-body.form-control(type="text" id="address_formap" value= favorite.address) 
        div(id="map" style="width:100%;height:350px;") 
        include map

      .panel.panel-default
        .panel-heading
          h3.panel-title 숙소 요금
        .panel-body #{favorite.fare}  

      .panel.panel-default
        .panel-heading
          h3.panel-title 편의시설
        .panel-body #{favorite.facility} 

      .panel.panel-default
        .panel-heading
          h3.panel-title 이용 규칙
        .panel-body #{favorite.rule} 

      .panel.panel-default
        .panel-heading
          h3.panel-title 등록자
        .panel-body #{favorite.nickname}

    
      div.form-actions
        .btn-group(role="group" aria-label="...")
          a.button.btn.btn-default(href="/host/process/favorite/#{favorite.title}") 예약하기