extends ../layout

block content
  .container
    h1= host.title
    form(action='/host/favorite/#{host.id}/#{currentUser.nickname}', method='POST' id='process')

        input.form-control(type="hidden" id="title" name="title" aria-describedby="basic-addon1" value=host.title)
        input.form-control(type="hidden" id="city" name="city" aria-describedby="basic-addon1" value=host.city)
        input.form-control(type="hidden" id="nation" name="nation" aria-describedby="basic-addon1" value=host.nation)
        input.form-control(type="hidden" id="explanation" name="explanation" aria-describedby="basic-addon1" value=host.explanation)
        input.form-control(type="hidden" id="fare" name="fare" aria-describedby="basic-addon1" value=host.fare)
        input.form-control(type="hidden" id="facility" name="facility" aria-describedby="basic-addon1" value=host.facility)
        input.form-control(type="hidden" id="address" name="address" aria-describedby="basic-addon1" value=host.address)
        input.form-control(type="hidden" id="rule" name="rule" aria-describedby="basic-addon1" value=host.rule)
        input.form-control(type="hidden" id="reservedNum" name="reservedNum" aria-describedby="basic-addon1" value=host.reservedNum)
        input.form-control(type="hidden" id="nickname" name="nickname" aria-describedby="basic-addon1" value=host.nickname)
        
        if(currentUser.nickname != host.nickname)
            div.form-actions
              .btn-group(role="group" aria-label="...")
                a.button.btn.btn-default(href="/host/process/#{host.id}") 예약하기
                button.btn.btn-default(type="submit") 즐겨찾기에 추가

       .panel.panel-default
        .panel-heading
          h3.panel-title 제목
        .panel-body #{host.title}

       .panel.panel-default
        .panel-heading
          h3.panel-title 간단한 설명
        .panel-body  #{host.explanation}

       .panel.panel-default
        .panel-heading
          h3.panel-title 국가
        .panel-body  #{host.nation}  
      
       .panel.panel-default
        .panel-heading
          h3.panel-title 도시
        .panel-body  #{host.city} 

       .panel.panel-default
        .panel-heading
          h3.panel-title 주소
        input.panel-body.form-control(type="text" id="address_formap" value= host.address) 
        div(id="map" style="width:100%;height:350px;") 
        include map

       .panel.panel-default
        .panel-heading
          h3.panel-title 숙소 요금
        .panel-body #{host.fare}  

       .panel.panel-default
        .panel-heading
          h3.panel-title 편의시설
        .panel-body #{host.facility} 

       .panel.panel-default
        .panel-heading
          h3.panel-title 이용 규칙
        .panel-body #{host.rule} 

       .panel.panel-default
        .panel-heading
          h3.panel-title 등록자
        .panel-body #{host.nickname} 

       .panel.panel-default
        .panel-heading
          h3.panel-title 예약 횟수
        .panel-body #{host.reservedNum} 
