extends ../layout

block head
    include mypage
block content
  .container
     h1 내가 즐겨찾기에 추가한 목록 

    .panel.panel-default
        .panel-heading 즐겨찾기 목록
    
        table.table
            thead
                tr
                    th 호스트 이름
                    th 제목
                    th 국가
                    th 도시
                    th 즐겨찾기 추가일 
            tbody
            each favorite in favorites
                    tr
                        td= favorite.host
                        td
                            a(href='/host/favorite/#{favorite.id}')=favorite.title
                        td= favorite.nation
                        td= favorite.city
                        td= moment(favorite.date).format('YYYY년 MM월 DD일 HH:mm:ss')
                        td
                          a.btn.btn-xs.btn-default(href='/mypage/favodelete/#{favorite.id}?_method=DELETE') 삭제
                        
