//-  프로필 수정 가능하게 만들기
//- 수정하기 버튼을 클릭하면 수정하기 위한 페이지로 이동
//- 프로필에서 탈퇴하기 버튼 만들기
extends ../layout

block head
    include mypage
block content
    .container
        if user
            h1 Guest profile
        else 
            h1 My profile

            if user 
               .panel.panel-default
                  .panel-heading
                    h3.panel-title 필수 사항
                  .panel-body 
                    ul
                        li Nickname: #{user.nickname}
                        li 전화전호: #{user.phone}
                        li 선호하는 언어: #{user.language}
                        li 선호하는 통화 단위: #{user.currency}
                        li 거주 도시: #{user.myCity}
                        li 자기소개: #{user.introduction}

                .panel.panel-default
                  .panel-heading
                    h3.panel-title 선택 사항
                  .panel-body        
                    ul
                        li 학교: #{user.school}
                        li 직업: #{user.job}
                        li 거주지 시간대: #{user.job}
                        li 언어: #{user.language}
                        li 긴급 연락처: #{user.phone}
            else
                .panel.panel-default
                  .panel-heading
                    h3.panel-title 필수 사항
                  .panel-body 
                    ul
                        li Nickname: #{currentUser.nickname}
                        li 성별: #{currentUser.gender}
                        li 생년 월일: #{currentUser.birthday}
                        li 이메일 주소: #{currentUser.email}
                        li 전화전호: #{currentUser.phone}
                        li 선호하는 언어: #{currentUser.language}
                        li 선호하는 통화 단위: #{currentUser.currency}
                        li 거주 도시: #{currentUser.myCity}
                        li 자기소개: #{currentUser.introduction}

                .panel.panel-default
                  .panel-heading
                    h3.panel-title 선택 사항
                  .panel-body        
                    ul
                        li 학교: #{currentUser.school}
                        li 직업: #{currentUser.job}
                        li 거주지 시간대: #{currentUser.job}
                        li 언어: #{currentUser.language}
                        li 긴급 연락처: #{currentUser.phone}
                        li 배송지: #{currentUser.address}

                .panel.panel-default
                  .panel-heading
                    h3.panel-title 출장 프로그램
                  .panel-body
                    ul
                        li 회사 이메일 주소: #{currentUser.companyEmail}




            
        if(!user)
            div.form-actions
            .btn-group(role="group" aria-label="...")
                    button.btn.btn-default(data-id=currentUser.nickname class="secession") 탈퇴하기
                    a.button.btn.btn-default(href='/users/edit/#{currentUser.id}') 개인정보 수정

    
    //- 이 form에 제출
    form#secessionForm(style='display:none', method="POST") 

    script(type='text/javascript').
      $(".secession").click(function(e) {
        var id = $(e.currentTarget).data('id');
        if (confirm('정말 탈퇴하시겠습니까?')) {
          $("#secessionForm").attr('action', "/users/" + id + "?_method=DELETE").submit();          
        }
        return false;
      });