extends ../layout

block content
  .container
    h1= reservation.title

    .panel.panel-default
     .panel-heading
      h3.panel-title 예약 상세 정보
     a.panel-body(href="#{reservation.hostid}/show") #{reservation.title}

    .panel.panel-default
     .panel-heading
      h3.panel-title 국가
     .panel-body  #{reservation.nation}  
  
    .panel.panel-default
     .panel-heading
      h3.panel-title 도시
     .panel-body  #{reservation.city} 

    .panel.panel-default
     .panel-heading
      h3.panel-title 주소
    input.panel-body.form-control(type="text" id="address_formap" value= reservation.address) 
    div(id="map" style="width:100%;height:350px;") 
    include ../host/map

    .panel.panel-default
     .panel-heading
      h3.panel-title checkin 날짜
     .panel-body #{reservation.checkin}  

    .panel.panel-default
     .panel-heading
      h3.panel-title checkout 날짜
     .panel-body #{reservation.checkout} 

    .panel.panel-default
     .panel-heading
      h3.panel-title 숙박 인원
     .panel-body #{reservation.number} 

    .panel.panel-default
     .panel-heading
      h3.panel-title 호스트
     .panel-body #{reservation.host} 

    .panel.panel-default
     .panel-heading
      h3.panel-title 예약 요청 결과
     .panel-body #{reservation.answer}

    .panel.panel-default
     .panel-heading
      h3.panel-title 예약 요청 결과
     .panel-body #{reservation.answer}

    .panel.panel-default
     .panel-heading
      h3.panel-title 게스트 프로필 보기  
     a.panel-body(href='mypage/profile/#{reservation.guest}') #{reservation.guest}

        
    

    